ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: #999;
    opacity: 0.75;
}

#navMenu {
    background-color: #ececec;
}

.activeLink {
    /* background-color: #e1e1e1 !important; */
    color: #333 !important;
    opacity: 1 !important;
}

nav {
    top: 0;
}

.small-menu {
    top:100%;
    left:0;
    background-color: #e1e1e1;
    z-index: 10000;
}

@media screen and (max-width: 480px) {
    .d-0 {
        display: none;
    }    
} 

@media screen and (min-width: 481px) {
    .small-menu-open {
        display: none;
    }    
} 
