<nav class="container-fluid g-0 border-bottom position-fixed" id="navMenu">
    <div class="container">
        <div class="row align-items-center position-relative">
            <div class="col-lg-6 col-md-6 col-sm-6 d-0">
                <a routerLink="">
                    <img src="secureworks_high_res_logo.png" alt="logo" class="w-25">
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 d-0">
                <ul class="p-0 m-0 d-flex justify-content-end">
                    <ng-container *ngFor="let menu of navItems">
                        <li>
                            <a routerLink="{{menu.route}}" routerLinkActive="activeLink"
                                [routerLinkActiveOptions]="{exact : true}" class="d-block">
                                <span class="d-block p-3">{{menu.label}}</span>
                            </a>
                        </li>
                    </ng-container>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 small-menu-open">
                <button class="navbar-toggler p-2" type="button" data-bs-toggle="offcanvas" (click)="toggleMenu()"
                    aria-controls="bdSidebar" aria-label="Toggle docs navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi" fill="currentColor"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z">
                        </path>
                    </svg>
                </button>
                <a routerLink="">
                    <img src="secureworks_high_res_logo.png" alt="logo" class="w-25">
                </a>
            </div>
            <ul class="p-0 m-0 position-absolute small-menu small-menu-open" [ngClass]="{'invisible': !smallMenuOpen, 'visible': smallMenuOpen}">
                <ng-container *ngFor="let menu of navItems">
                    <li>
                        <a routerLink="{{menu.route}}" routerLinkActive="activeLink"
                            [routerLinkActiveOptions]="{exact : true}" class="d-block py-2 px-4">
                            {{menu.label}}
                        </a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</nav>